@import "../../../styles/settings.scss";

.hero {
  height: 100%;
  position: relative;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0px 25px 0px;
    filter: brightness(80%);
  }

  .quote {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65%;
    left: 3%;
    color: $white;

    .icon {
      font-size: 120px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: -100px;
    }

    span {
      font-size: 40px;

      &:last-of-type {
        font-size: 30px;
        font-style: italic;
      }
    }
  }
}