@import "../../../styles/settings.scss";

.hero {
  height: 100%;
  position: relative;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0px 25px 0px;
    filter: brightness(70%);
  }

  .quote {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10%;
    left: 3%;
    color: $white;

    .icon {
      font-size: 120px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: -100px;
    }

    span {
      font-size: 40px;

      &:last-of-type {
        font-size: 30px;
        font-style: italic;
      }
    }
  }
}

// RWD

@media (max-width: 1130px) {
  .hero {
    .quote {
      span {
        font-size: 30px;
        &:last-of-type {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .hero {
    .quote {
      top: 20%;
    }
  }
}

@media (max-width: 430px) {
  .hero {
    .quote {
      top: 25%;
    }
  }
}

@media (max-width: 350px) {
  .hero {
    .quote {
      top: 10%;
      .icon {
        display: none;
      }
      span {
        font-size: 26px;
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}