@import "../../../styles/settings.scss";

.container {
  background-color: $background-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 20px;

  h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .form {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: $white;
    width: 70%;
    margin-bottom: 20px;

    h1 {
      margin: 5px 0px;
      font-size: 18px;

      &:last-of-type {
        margin-top: 20px;
      }
    }

    p {
      margin-top: 10px;
      font-size: 12px;
      font-style: italic;

      &:last-of-type {
        font-style: normal;
      }
    }

    .field {
      display: flex;
      flex-direction: column;

      label {
        font-size: 16px;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 15px;
        padding: 10px;
        border: solid 1px $border;
      }

      select{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 15px;
        padding: 10px;
        border: solid 1px $border;
        color: $gray;
      }

      .error {
        color: $main-red;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  
    .alert {
      text-align: center;
      margin-top: 20px;

      .success {
        background-color: $main-green;
        color: white;
        padding: 10px;
        border-radius: 15px;
      }
    }

    .spinner {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

// RWD

@media (max-width: 729px) {
  .form {

  }
}