@import "../../../styles/settings.scss";

.home {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  background-color: $background-brown;
  display: flex;

  .left {
    flex: 1; 

    .greetings {
      height: calc(100% - 80px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      padding-left: 20px;
      text-align: center;

      h1 {
        margin: 0;
        font-size: 60px;
      }

      p {
        margin: 0;
      }

      .link {
        text-decoration: none;
        color: $black;
        margin-top: 40px;

        &:hover {
          color: $main-red;
        }
      }
    }
  }

  .right {
    flex: 1;
    margin: 20px;
  }
}

// RWD

@media (max-width: 729px) {
  .home {
    .left {
      .greetings {
        h1 {
          font-size: 35px;
        }
        p{
          font-size: 14px;
        }
        .link {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .home {
    flex-direction: column;
    height: 100%;
    .greetings {
      padding: 0px 20px;
    }
  }
}