@import "../../../styles/settings.scss";

.button {
  background-color: $main-green;
  margin: 20px 0px;
  padding: 20px 70px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  pointer: cursor;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: $hover;
  }
}