// Colors
$white: white;
$background-gray: #f4f1eb;
$main-red: #ee5b46;
$main-green: #033631;
$light-orange: #ffeecc;
$strong-orange: #f59d47;
$hover: #e85c46;
$background-brown: #f4f1eb;
$border:  rgb(194, 193, 193);
$gray: gray;
$black: black;

// Transition
$transition: color 0.1s ease-out;

